{
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": false,
                "helper": false,
                "regenerator": true,
                "useESModules": true
            }
        ]
    ]
}